.btn {
  padding: 10px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
  background-color: rgb(186 186 186);
  transition: all 0.1s ease-in-out;
  margin-bottom: 3px;
  color: white;
}

.exp {
  background-color: rgb(70 70 70);
}

.show-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn.zero {
  grid-column: span 2;
}

.btn.equal {
  grid-row: span 2;
  background-color: orange;
}

.btn:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
